{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
{#    <h1>hello, {% if username %}{{ username }} {% else %} stranger {% endif %}</h1>#}
{#    {% if not known %}#}
    {% if current_user.is_authenticated %}
        <P>Happy to see you again!</P>
        {{ current_user.username }}
    {% else %}
    <p>Pleased to meet you!</p>
        <a href="{{ url_for('auth.register') }}">Sign up</a>
{#    {{ wtf.quick_form(form)}}#}
    {% endif %}
</div>
<footer class="blog-footer">
<div>
    <p>the local date time is {{ moment(current_time).format('LLL') }}</p>
    <p>that was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
</footer>
{% endblock%}
